---
interface Props {
	title: string;
	link: string;
}

const { link, title } = Astro.props;
---

<div class="indexlink">
    <a href={link}>{title}</a>
</div>
<style>
    div{
        margin: 2%;
    }
    a {
        text-decoration: none;
        color: white;
        border-bottom: 1px solid transparent;
    }
    a:hover
    {
        border-bottom: 1px solid white;
    }
</style>