<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Henrik Hole</title>
  <link rel="stylesheet" href="/src/styles.css">
</head>
<body>
  <header>
    <div>
      <nav>
        <a href="/">/</a>
        <a href="/about">Om</a>
      </nav>
    </div> 
      <div>
        <strong>Henrik Hole Olsson</strong>
      </div>
  </header>
  <main>
    <slot></slot>
  </main>
  <footer>
    <p>&copy; 2024 Henrik Hole. All rights reserved.</p>
  </footer>
</body>
</html>